<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Coach Geek | <%= title %></title>
<link rel="icon" href="/icons/favicon.ico" type="image/x-icon" />
<script
  src="https://kit.fontawesome.com/f0da99e646.js"
  crossorigin="anonymous"
></script>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="/style.css" />
<link rel="stylesheet" href="/login.css" />
<link rel="stylesheet" href="/dropdown.css" />
<link rel="stylesheet" href="/course.css" />
<link rel="stylesheet" href="/task.css" />
