<div id="mySidenav" class="sidenav">
  <div>
    <a href="/home"><h1>Node Lessons</h1></a>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
      >&times;</a
    >
  </div>



  


    <a href="/Create">
      Create Task</a>
      
</div>

    <div
      style="font-size: 30px; cursor: pointer"
      onclick="openNav()"
      class="sidebarLine"
    >
      <i class="fas fa-solid fa-chevron-right"></i>
    </div>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
  </a>
</div>
