<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/header'); -%> <%- include('../partials/sidebar');
    -%>
    <section class="taskPage">
      <h1>Task 2: Express.js</h1>
      <h5>What is Express?</h5>
      <p>
        Express provides a minimal interface to build our applications. It
        provides us the tools that are required to build our app. It is flexible
        as there are numerous modules available on npm, which can be directly
        plugged into Express.
      </p>

      <p>
        Express was developed by TJ Holowaychuk and is maintained by the Node.js
        foundation and numerous open source contributors.
      </p>
      <h5>Why Express?</h5>
      <p>
        Unlike its competitors like Rails and Django, which have an opinionated
        way of building applications, Express has no “best way” to do something.
        It is very flexible and pluggable.
      </p>
      <h5>MongoDB and Mongoose</h5>
      <p>
        MongoDB is an open-source, document database designed for ease of
        development and scaling. This database is also used to store data.
      </p>

      <p>
        Mongoose is a client API for <b> node.js</b> which makes it easy to
        access our database from our <b>Express application</b>.
      </p>

      <div class="video">
        <iframe
          class="responsive-iframe"
          loading="lazy"
          title="Node.js Crash Course Tutorial #2 - Node.js Basics"
          width="1200px"
          height="675px"
          src="https://www.youtube.com/embed/Lr9WUkeYSA8?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>
      <div class="video">
        <iframe
          class="responsive-iframe"
          loading="lazy"
          title="Node.js Crash Course Tutorial #2 - Node.js Basics"
          width="1200px"
          height="675px"
          src="https://www.youtube.com/embed/yXEesONd_54?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>
      <div class="video">
        <iframe
          class="responsive-iframe"
          loading="lazy"
          title="Node.js Crash Course Tutorial #2 - Node.js Basics"
          width="1200px"
          height="675px"
          src="https://www.youtube.com/embed/_GJKAs7A0_4?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>
      <footer class="taskFooter">
        <a href="/task1">
          <button>
            <i class="fas fa-light fa-chevron-left"></i>Previous Lesson
          </button>
        </a>
        <a href="/home">back to home</a>
        <a href="/task3">
          <button>
            Next Lesson<i class="fas fa-light fa-chevron-right"></i>
          </button>
        </a>
      </footer>
    </section>
  </body>
</html>
