<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/header'); -%> <%- include('../partials/sidebar');
    -%>
    <section class="taskPage">
      <h1>Task 1: NodeJs</h1>

      <ol>
        <span>Your Tasks:</span>
        <li>Watch & Complete the NodeJS Basics Video</li>
        <li>Watch & Complete NodeJs: Clients & Servers</li>
        <li>Watch & Complete NodeJS Requests & Responses</li>
        <li>Watch & Complete NodeJS NPM</li>
      </ol>
      <div class="video">
        <iframe
          class="responsive-iframe"
          loading="lazy"
          title="Node.js Crash Course Tutorial #2 - Node.js Basics"
          width="1200px"
          height="675px"
          src="https://www.youtube.com/embed/OIBIXYLJjsI?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>
      <div class="video">
        <iframe
          class="responsive-iframe"
          loading="lazy"
          title="Node.js Crash Course Tutorial #2 - Node.js Basics"
          width="1200px"
          height="675px"
          src="https://www.youtube.com/embed/-HPZ1leCV8k?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>
      <div class="video">
        <iframe
          class="responsive-iframe"
          loading="lazy"
          title="Node.js Crash Course Tutorial #2 - Node.js Basics"
          width="1200px"
          height="675px"
          src="https://www.youtube.com/embed/DQD00NAUPNk?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>
      <div class="video">
        <iframe
          class="responsive-iframe"
          loading="lazy"
          title="Node.js Crash Course Tutorial #2 - Node.js Basics"
          width="1200px"
          height="675px"
          src="https://www.youtube.com/embed/bdHE2wHT-gQ?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>
      <footer class="taskFooter">
        <a href="/task0">
          <button>
            <i class="fas fa-light fa-chevron-left"></i>Previous Lesson
          </button>
        </a>
        <a href="/home">back to home</a>
        <a href="/task2">
          <button>
            Next Lesson<i class="fas fa-light fa-chevron-right"></i>
          </button>
        </a>
      </footer>
    </section>
  </body>
</html>
