<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/header'); -%> <%- include('../partials/sidebar');
    -%>
    <section class="taskPage">
      <h1>Task 4 : Node.js Auth Tutorial (JWT)</h1>
      <ol>
        <span>Your Tasks:</span>
        <li>Watch & Complete Node Auth Tutorial</li>
      </ol>
      <div class="video">
        <iframe
          class="responsive-iframe"
          loading="lazy"
          title="Node.js Crash Course Tutorial #2 - Node.js Basics"
          width="1200px"
          height="675px"
          src="https://www.youtube.com/embed/SnoAwLP1a-0"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>

      <footer class="taskFooter">
        <a href="/task3">
          <button>
            <i class="fas fa-light fa-chevron-left"></i>Previous Lesson
          </button>
        </a>
        <a href="/home">back to home</a>
        <!-- <a href="/task4">
          <button>
            Next Lesson<i class="fas fa-light fa-chevron-right"></i>
          </button>
        </a> -->
      </footer>
    </section>
  </body>
</html>
