<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/header'); -%> <%- include('../partials/sidebar');
    -%>
    <section class="taskPage">
      <h1>Task 3: MongoDB</h1>
      <p>
        MongoDB is an open-source document database and leading NoSQL database.
        MongoDB is written in C++. This tutorial will give you great
        understanding on MongoDB concepts needed to create and deploy a highly
        scalable and performance-oriented database.
      </p>
      <ol>
        <span>Your Tasks:</span>
        <li>Watch the Video Below</li>
        <li>Read the Documentation below Video</li>
      </ol>
      <div class="video">
        <iframe
          class="responsive-iframe"
          loading="lazy"
          title="Node.js Crash Course Tutorial #2 - Node.js Basics"
          width="1200px"
          height="675px"
          src="https://www.youtube.com/embed/bxsemcrY4gQ?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>

      <h5>Documentation:</h5>
      <p>
        MongoDB is a cross-platform, document oriented database that provides,
        high performance, high availability, and easy scalability. MongoDB works
        on concept of collection and document.
      </p>
      <p>
        <b> Database:</b> It is a physical container for collections. Each
        database gets its own set of files on the file system. A single MongoDB
        server typically has multiple databases.
      </p>
      <p>
        <b>Collection:</b> It do not enforce a schema. Documents within a
        collection can have different fields. Typically, all documents in a
        collection are of similar or related purpose.
      </p>
      <p>
        <b>Document:</b> It is a set of key-value pairs. Documents have dynamic
        schema. Dynamic schema means that documents in the same collection do
        not need to have the same set of fields or structure, and common fields
        in a collection’s documents may hold different types of data.
      </p>

      <div class="video">
        <iframe
          class="responsive-iframe"
          loading="lazy"
          title="Node.js Crash Course Tutorial #2 - Node.js Basics"
          width="1200px"
          height="675px"
          src="https://www.youtube.com/embed/VVGgacjzc2Y?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>
      <div class="video">
        <iframe
          class="responsive-iframe"
          loading="lazy"
          title="Node.js Crash Course Tutorial #2 - Node.js Basics"
          width="1200px"
          height="675px"
          src="https://www.youtube.com/embed/zW_tZR0Ir3Q?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>
      <footer class="taskFooter">
        <a href="/task2">
          <button>
            <i class="fas fa-light fa-chevron-left"></i>Previous Lesson
          </button>
        </a>
        <a href="/home">back to home</a>
        <a href="/task4">
          <button>
            Next Lesson<i class="fas fa-light fa-chevron-right"></i>
          </button>
        </a>
      </footer>
    </section>
  </body>
</html>
