<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/header'); -%> <%- include('../partials/sidebar');
    -%>
    <section class="taskPage">
      <h1>Task 0: NodeJS Intro</h1>
      <p>
        <b>
          Node.js® is a JavaScript runtime built on Chrome’s V8 JavaScript
          engine</b
        >. It uses an <b> event driven, non-blocking I/O model</b> that makes it
        lightweight and efficient.
      </p>

      <p>
        Before Node, JavaScript just could not be used as a more general purpose
        programming language, it was limited to what the browser allowed it to
        do. <br />
        So, for example, I could use JavaScript to add a click event to this
        button or to redirect a user to a different page.
      </p>

      <p>
        But there was no way to use the JavaScript programming language
        <b> outside of the browser to build things</b> like Web servers that
        could access the file system and connect to databases. All of these are
        things that other programming languages can do without any problem.
      </p>

      <p>All of this ended up changing with the introduction of Node JS</p>

      <p>
        JavaScript developers could now use
        <b> JavaScript on the server side</b> so they could use the same
        JavaScript programming language to create Web servers, command line
        interfaces, application back ends and more.
      </p>

      <p>
        This video will give you complete clarity & understanding of why NodeJS
        got into existence.
      </p>

      <ol>
        <span>Your Tasks:</span>
        <li>Watch the video attached below</li>
        <li>
          Install & Setup Node in your computer (Instructions in the video)
        </li>
      </ol>
      <div class="video">
        <iframe
          class="responsive-iframe"
          loading="lazy"
          title="Node.js Crash Course Tutorial #1 - Introduction &amp; Setup"
          max-width="1200px"
          max-height="675px"
          src="https://www.youtube.com/embed/zb3Qk8SG5Ms?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>
      <footer class="taskFooter">
        <!-- <a href="#">
          <button>
            <i class="fas fa-light fa-chevron-left"></i>Previous Lesson
          </button>
        </a> -->
        <a href="/home">back to home</a>
        <a href="/task1">
          <button>
            Next Lesson<i class="fas fa-light fa-chevron-right"></i>
          </button>
        </a>
      </footer>
    </section>
  </body>
</html>
