<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
<link rel="stylesheet" href="404.css" />

  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="e-404">
      <img src="./404.gif" alt="" />
      <div class="button">
        <a href="index">Home</a>
      </div>
    </div>
  </body>
</html>
</html>
