<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coach Geek<%= title %></title>
    <link rel="icon" href="/icons/favicon.ico" type="image/x-icon" />

    <script
      src="https://kit.fontawesome.com/f0da99e646.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="dropdown.css" />
  </head>
  <body>
    <%- include('partials/header'); -%>
    <section class="blueSection">
      <div class="text">
        <h1>Learn to code Websites, Apps & Games.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          qui error beatae corrupti facilis quia ratione voluptate nobis aperiam
          soluta! Quidem repellat mollitia harum asperiores obcaecati doloribus
          cum praesentium reiciendis.
        </p>
        <a href="#course">
          <button class="orange">
            view courses <i class="fas fa-solid fa-caret-right"></i>
          </button>
        </a>
      </div>
      <div class="illustration">
        <div class="image">
          <img src="illustration/coding-isometric-01.png" alt="" />
        </div>
      </div>
    </section>

    <section class="courses" id="course">
      <div class="coursesText">
        <h1>100's of Courses</h1>
        <p>
          <b>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</b>
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium
          rem atque voluptatum error magnam reprehenderit odio recusandae.
        </p>
        <a href="/signup">
          <button class="blue glow">
            Enroll Now <i class="fas fa-solid fa-caret-right"></i>
          </button>
        </a>
      </div>
      <div class="grid glow">
        <a href="#">
          <div class="courseTile">
            <img src="icons/circle/coding-icon_web.png" alt="" />
            <div>
              <h2>Web Development</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="courseTile">
            <img src="icons/circle/coding-icon_shield.png" alt="" />
            <div>
              <h2>Javascript</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="courseTile">
            <img src="icons/circle/coding-icon_python.png" alt="" />
            <div>
              <h2>Python</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="courseTile">
            <img src="icons/circle/coding-icon_pages.png" alt="" />
            <div>
              <h2>HTML & CSS</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="courseTile">
            <img src="icons/circle/coding-icon_ux.png" alt="" />
            <div>
              <h2>UX Design</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="courseTile">
            <img src="icons/circle/coding-icon_document.png" alt="" />
            <div>
              <h2>Intro to Coding</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="courseTile">
            <img src="icons/circle/coding-icon_database.png" alt="" />
            <div>
              <h2>Database Design</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="courseTile">
            <img src="icons/circle/coding-icon_games2.png" alt="" />
            <div>
              <h2>Apps & Games</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </a>
      </div>
    </section>

    <section class="blueSection">
      <div class="illustration">
        <div class="image">
          <img src="illustration/coding-illustration_6.png" alt="" />
        </div>
      </div>
      <div class="text marginLeft0">
        <h1>Become an expert</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          qui error beatae corrupti facilis quia ratione voluptate nobis aperiam
          soluta! Quidem repellat mollitia harum asperiores obcaecati doloribus
          cum praesentium reiciendis.
        </p>
        <a href="#">
          <button class="orange">
            view courses <i class="fas fa-solid fa-caret-right"></i>
          </button>
        </a>
      </div>
    </section>
    <section class="whiteSection">
      <section class="container">
        <div class="text blueText">
          <img src="icons/circle/1x/coding-icon_brain.png" alt="" />
          <h1>Learn by Doing</h1>
          <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            qui error beatae corrupti facilis quia ratione voluptate nobis
            aperiam
          </p>
        </div>
        <div class="illustration">
          <div class="image">
            <img src="illustration/coding-illustration_4.png" alt="" />
          </div>
        </div>
      </section>
      <section class="container">
        <div class="illustration">
          <div class="image">
            <img src="illustration/coding-illustration_5.png" alt="" />
          </div>
        </div>
        <div class="text blueText">
          <img src="icons/circle/1x/coding-icon_award.png" alt="" />
          <h1>Achieve your goals</h1>
          <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            qui error beatae corrupti facilis quia ratione voluptate nobis
            aperiam
          </p>
        </div>
      </section>
      <section class="container">
        <div class="text blueText">
          <img src="icons/circle/1x/coding-icon_responsive.png" alt="" />
          <h1>Build your portfolio</h1>
          <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            qui error beatae corrupti facilis quia ratione voluptate nobis
            aperiam
          </p>
        </div>
        <div class="illustration">
          <div class="image">
            <img src="illustration/coding-illustration_3.png" alt="" />
          </div>
        </div>
      </section>
    </section>
    <section class="blueSection">
      <div class="text">
        <h1>Supercharge Your Classroom</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          qui error beatae corrupti facilis quia ratione voluptate nobis aperiam
          soluta! Quidem repellat mollitia harum asperiores obcaecati doloribus
          cum praesentium reiciendis.
        </p>
        <a href="#">
          <button class="orange">
            view courses <i class="fas fa-solid fa-caret-right"></i>
          </button>
        </a>
      </div>
      <div class="illustration">
        <div class="image">
          <img src="illustration/coding-illustration_8.png" alt="" />
        </div>
      </div>
    </section>
    <!-- offering page remaining -->
    <section class="offerPage">
      <div class="offerText">
        <h1>What We Offer</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
          voluptatum!
        </p>
      </div>

      <div class="offers">
        <div class="supportTile">
          <img src="icons/circle/coding-icon_levels.png" alt="" />
          <div>
            <h2>Beginner Courses</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="supportTile">
          <img src="icons/circle/coding-icon_stats.png" alt="" />
          <div>
            <h2>Progress Tracking</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="supportTile">
          <img src="icons/circle/coding-icon_games.png" alt="" />
          <div>
            <h2>Gamified Learning</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="supportTile">
          <img src="icons/circle/coding-icon_document.png" alt="" />
          <div>
            <h2>Lessons Plans</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="supportTile">
          <img src="icons/circle/coding-icon_list.png" alt="" />
          <div>
            <h2>Realworld Projects</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="supportTile">
          <img src="icons/circle/coding-icon_training.png" alt="" />
          <div>
            <h2>Teacher Training</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="blueSection">
      <div class="illustration">
        <div class="image">
          <img src="illustration/coding-illustration_7.png" alt="" />
        </div>
      </div>
      <div class="text">
        <h1>Education is in Our Blood</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          qui error beatae corrupti facilis quia ratione voluptate nobis aperiam
          soluta! Quidem repellat mollitia harum asperiores obcaecati doloribus
          cum praesentium reiciendis.
        </p>
        <a href="#">
          <button class="orange">
            view courses <i class="fas fa-solid fa-caret-right"></i>
          </button>
        </a>
      </div>
    </section>
    <section class="whiteSection">
      <section class="container">
        <div class="text blueText">
          <img src="icons/circle/1x/coding-icon_ebook.png" alt="" />
          <h1>Individual Online Learning</h1>
          <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            qui error beatae corrupti facilis quia ratione voluptate nobis
            aperiam
          </p>
        </div>
        <div class="illustration">
          <div class="image">
            <img src="illustration/coding-illustration_9.png" alt="" />
          </div>
        </div>
      </section>
      <section class="container">
        <div class="illustration">
          <div class="image">
            <img src="illustration/coding-illustration_11.png" alt="" />
          </div>
        </div>
        <div class="text blueText">
          <img src="icons/circle/1x/coding-icon_interaction.png" alt="" />
          <h1>Classroom Lessons</h1>
          <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            qui error beatae corrupti facilis quia ratione voluptate nobis
            aperiam
          </p>
        </div>
      </section>
      <section class="container">
        <div class="text blueText">
          <img src="icons/circle/1x/coding-icon_community.png" alt="" />
          <h1>Coding Camps</h1>
          <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            qui error beatae corrupti facilis quia ratione voluptate nobis
            aperiam
          </p>
        </div>
        <div class="illustration">
          <div class="image">
            <img src="illustration/coding-illustration_1.png" alt="" />
          </div>
        </div>
      </section>
    </section>
    <section class="blueSection">
      <div class="text">
        <h1>Easy As 1...2...3...</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          qui error beatae corrupti facilis quia ratione voluptate nobis aperiam
          soluta! Quidem repellat mollitia harum asperiores obcaecati doloribus
          cum praesentium reiciendis.
        </p>
        <a href="/signup">
          <button class="orange">
            Enroll Now <i class="fas fa-solid fa-caret-right"></i>
          </button>
        </a>
      </div>
      <div class="illustration">
        <div class="image">
          <img src="illustration/coding-illustration_2.png" alt="" />
        </div>
      </div>
    </section>
    <footer>
      <h1>Ready to get started?</h1>
      <a href="/signup">
        <button class="orange">
          Create Account <i class="fas fa-solid fa-caret-right"></i>
        </button>
      </a>
    </footer>
  </body>
</html>
